
body{
    font-family: Arial, Helvetica, sans-serif;
}

.cal-btn {
    background-color: silver;
    color: black;
    width: 25px;
    height: 45px;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;
    font-size: 32px;
    font-weight: 100;
    padding-top: 3px;
}

.cal-btn:hover{
    background-color: green;

}

.row{
    display: table;
    table-layout: fixed;
    width: 200px;
}

.column{
    display: table-cell;
}

#cal-zero{
    width: 52px;
    border-radius: 0 0 0 7px;
}
#cal-clear{
    width: 52px;
}

#cal-display-value{
    height: 80px;
    color: white;
    text-align: right;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    font-size: 40px;
    background-color: darkgreen;
    overflow: hidden;
    white-space: nowrap;
    padding: 12px;
    border-radius: 7px 7px 0 0;
}

.cal-btn-operator {
    background-color: green;
    color: white;
}
h1{
    text-align: center;
    margin-top: 50px;
   
}

#cal-equals{
    border-radius: 0 0 7px 0;
}

#cal-parent{
    margin-left: calc(49% - 100px);
    border: 1px solid;
    width: 201px;
    padding: 7px;
    border-radius: 5px;
}